@use "../../../utilities/variables.styles";

.kanban::-webkit-scrollbar {
  display: none;
}

.kanban {
  max-height: 600px;
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 10px;
  grid-template-rows: 1fr;
  gap: 15px;

  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom-right-radius: 20px;
}

.kanban__section {
  grid-row-start: 2;

  .kanban__section__title {
    color: variables.$text-color-primary;
    background-color: variables.$bkg-color-2;
    border-bottom: 3px solid variables.$workspace-color4;

    align-items: center;

    display: flex;
    justify-content: space-between;
  }
}
