@use "../../../../utilities/variables.styles";

.kanban__section {
  grid-row-start: 2;

  .kanban__section__title {
    color: variables.$text-color-primary;
    background-color: variables.$bkg-color-2;
    border-bottom: 3px solid variables.$workspace-color4;

    align-items: center;

    display: flex;
    justify-content: space-between;
  }

  .kanban__section__cards {
    grid-row-start: 2;
  }
}
