@use "../../../utilities/variables.styles";

.section-container {
  grid-row-start: 2;

  .title-container {
    color: variables.$text-color-primary;
    background-color: variables.$bkg-color-2;
    border-bottom: 3px solid variables.$workspace-color4;

    align-items: center;

    display: flex;
    justify-content: space-between;
  }
  .workspace-cards-container {
    grid-row-start: 2;
  }
}
