@use "../../../utilities/variables.styles";

.title-container {
  color: variables.$text-color-primary;
  border-bottom: 3px solid variables.$workspace-color4;

  align-items: center;

  display: flex;
  justify-content: space-between;

  .option-button {
    transition: 0.2s;

    &:hover {
      transform: scale(1.28);
      color: variables.$workspace-color3;
    }
  }
}

.workspace-cards-container {
  grid-row-start: 2;
}
