$bkg-color-1: #eceff3;
$bkg-color-2: #ffffff;

$border-color: #e7ebf2;

$color-primary: #406af6;

$text-color-primary: #202939;
$text-color-secondary: #97a3b6;

$notification-color: #de67a5;

$workspace-color1: #b281f8;
$workspace-color2: #61bcf9;
$workspace-color3: #557af6;
$workspace-color4: #90c76a;
$workspace-color5: #f5bd91;

$box-shadow-1: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$box-shadow-2: rgba(27, 31, 35, 0.04) 0px 1px 0px,
  rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
$box-shadow-3: rgba(50, 50, 93, 0.25) 0px 13px 20px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

.nav__active {
  color: #406af6;
  font-weight: 900;
  font-size: 1.1rem;
}
